body {
    color: white;
    background-color:#2c2f33;
    font-family: Calibri;
    display: flex;
    margin: 0%;
}

/* - - - - - - - - - - - - - - - - - - - - */

#vertical_nav {
    background-color:#414a59;
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - - - - */

#serre {
    background-color: #8b70d7;
    height: auto;
    padding-left: 2.5em;
}

#button {
    display: flex;
    flex-direction: column;
    height: auto;
}

#button a {   
    text-decoration: none;
    color: white;
}

.button {    
    padding-left: 2.5em;
}

.button:hover {
    background-color: #63c7bb;
}


/* - - - - - - - - - - - - - - - - - - - - */

#horizontal_nav {
    background-color:#414a59;
    display: flex;
    border-radius: 0px 0px 10px 10px;
}

/* - - - - - - - - - - - - - - - - - - - - */

#data {
    width: 85%;
    margin-left: 2em;
    margin-right: 2em;
}

#content {
    padding: 2em;
}

/* - - - - - - - - - - - - - - - - - - - - */

#info {
    display: flex;
    justify-content: space-between;
}

#value {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.info {
    background-color:#414a59;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#stats {
    background-color:#414a59;
    margin-top: 2em;
    border-radius: 10px;
}

